---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>
        Simone Sun is a <strong>creative technologist</strong> and <strong>UX designer</strong> with a focus on <strong>extended reality (XR)</strong>.
    </h1>
</Layout>

<style>
    h1 {
        font-size: 2rem;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    
    strong {
        color: #f36500;
    }
</style>