---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>
        Simone Sun is a <em>product designer</em> and <em>creative technologist</em> based in Brooklyn, NY.
    </h1>
    <p>
        She designs digital products and develops AR/VR interactions.
    </p>
</Layout>

<style>
    body {
        font-family: "League Spartan Variable", sans-serif;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 900;
        font-style: normal;
        color: #333;
    }

    em {
        color: rgb(207, 54, 34);
        font-style: normal
    }

    p {
        font-size: 2rem;
        font-weight: 200;
    }
</style>
