<footer>
    <p>2025 Simone X Sun</p>
</footer>

<style>
    footer {
        align-self: stretch;
        padding: 24px 24px;
        overflow: hidden;
        justify-content: center;
        background-color: #f8f9fa;
    }

    p {
        font-size: 16px;
        word-wrap: break-word;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        font-family: "League Spartan Variable", sans-serif;
    }
</style>
