<header>
    <a class="wordmark" href="/">Simone Sun</a>

    <ul>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ddd;
    }

    .wordmark {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin-left: 20px;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    a:hover {
        text-decoration: underline;
    }
</style>