---
import { Image } from 'astro:assets';

interface Props {
    title: string;
    description: string;
    cover: ImageMetadata;
    coverAlt: string;
    id: string;
}

const { title, description, cover, coverAlt, id } = Astro.props as Props;
---

<div class="project-card">

    <div class="project-image">
        <Image src={cover} width=400 densities={[1.5, 2]} alt={coverAlt} />
    </div>
    <div class="project-content">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>

<style>
    .project-card {
        /* border-radius: 8px; */
        overflow: hidden;
        background-color:"#fff";
        /* border: 1px solid #e0e0e0; */
        transition:
            box-shadow 0.3s ease;
    }

    .project-card:hover {
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    }

    .project-image {
        aspect-ratio: 16 / 9;
        align-self: stretch;
        overflow: hidden;
        transition: 
            transform 0.5s ease;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .project-card:hover img {
        transform: scale(1.05);
    }

    .project-content {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 0.25rem;
    }
    
    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }
</style>
