---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const posts = await getCollection('projects');
    return posts.map(post => ({
        params: { id: post.id },
        props: { post },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---


<Layout>
    <h1>{post.data.title}</h1>
    <article>
      <Content />
    </article>
</Layout>

<style is:global>
  /* TODO: actually resize these images instead of relying on CSS */
  article img {
    max-width: 100%;
    height: auto;
  }

  a {
		color: var(--Text-Neutral-Link);
		text-decoration: none;
	}

  .block-content p {
    margin: 0;
    line-height: 0;
  }
</style>
